作ったはいいけどまだ変更できるものがなかった・・・

.panel.panel-default.devise-bs
  .panel-heading
    %h4 プロフィール情報の変更
  .panel-body
    = form_for @user, html: { class: "form-horizontal" } do |f|
      .form-group
        .col-xs-2
          %p.form-control-static= image_tag @user.profile_image, size: "100x100", alt: 'twitter icon', class:"img-responsive"
        .col-xs-10
          = f.label :nickname
          %p.form-control-static= @user.nickname
      .form-group
        .col-xs-12
          = @user.description

    = link_to 'ログイン情報の変更', edit_user_registration_path, class: 'btn btn-info btn-block'
