= link_to  user_twitter_omniauth_authorize_path, class: 'btn btn-block btn-primary btn-login' do
  %i.fa.fa-twitter
  &nbsp;Twitterでログインする
%hr
= link_to '#login_email_form', class: 'btn btn-block btn-info btn-login', role: :button,
  data: { toggle: :collapse },
  aria: { controls: :login_email_form, expanded: true } do
  %i.fa.fa-envelope
  &nbsp;メールアドレスでログインする
%br
%br
.row#login_email_form.collapse
  .col-xs-12.col-sm-6
    = render 'devise/registrations/new_form'
  .col-xs-12.col-sm-6
    = render 'devise/sessions/form'
    %hr
    = render 'devise/shared/links'
