= render 'devise/shared/error_messages'
- if resource_name.to_s == 'user'
  = link_to  user_twitter_omniauth_authorize_path, class: 'button-block button-twitter button' do
    %i.fab.fa-twitter
    &nbsp;Twitterでログインする

= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  .form-group.form-group-button
    %button.button.button-primary.button-right{:type => "submit"} Login
  .form-group-button-description
    = render 'devise/shared/links'