!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ReactOnRailsWithWebpacker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'true'
    / NOTE: Must use defer and not async to keep async scripts loading in correct order
    / hotloadingおわったら有効にする
    -#= stylesheet_pack_tag('app-bundle',
    -#                      media: 'all',
    -#                      'data-turbolinks-track': true)
    = javascript_pack_tag('vendor-bundle', 'data-turbolinks-track': true, defer: true)
    = javascript_pack_tag('app-bundle', 'data-turbolinks-track': true, defer: true)

    = stylesheet_link_tag "//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
  %body
    = yield
    = redux_store_hydration_data
